* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.loginPage {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left {
    flex: 1;
    background-image: url('../img/backgroundLogin.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.welcome-message {
    padding: 15% 10% 0 10%;
}

.welcome-message p {
    font-size: 45px;
}

.welcome-message h1 {
    font-size: 60px;
    font-weight: 700;
}

.right {
    flex: 1;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-form {
    width: 75%;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form h2 {
    font-size: 50px;
    font-weight: 700;
    color: green;
    margin-bottom: 50px;
    text-align: center;
}

.login-email,
.login-password {
    display: flex;
    flex-direction: column;
}

.login-email input,
.login-password input {
    padding: 15px 35px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #e6ffed;
    margin: 15px 0 15px 0;
    font-size: 16px;
    border-style: solid;
    border-color: black;
}

.login-forgot-password a {
    text-decoration: none;
    color: black;
}

.login-button {
    margin-top: 15px;
    text-align: center;
}

.login-button button {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    width: 30%;
    height: 60px;
    background-color: #60DB83;
    border-radius: 100px;
    border: 1.5px solid;
    border-color: black;
    cursor: pointer;
}