* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.changeCompletePage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.change-complete-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 50%;
    border-radius: 15px;
    padding: 40px;
    background-color: white;
    color: black;
    border: 1.5px solid black;
}

.change-complete-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.change-complete-header h1 {
    font-size: 50px;
    font-weight: 700;
    color: green;
    text-align: center;
}

.change-complete-header p {
    text-align: center;
    font-weight: bold;
    font-size: 21px;
}

.login-button {
    margin-top: 15px;
    text-align: center;
}

.login-button button {
    padding: 0 10px 0 10px;
    font-size: 20px;
    font-weight: bold;
    width: 270px;
    height: 60px;
    background-color: #60DB83;
    border-radius: 100px;
    border: 1.5px solid;
    border-color: black;
    cursor: pointer;
}