<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DPIA</title>
    <link rel="stylesheet" href="css/adminManagePDPA.css" />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="adminManagePDPAPage">
        <div class="sidebarAdmin" id="sidebarAdmin"></div>

        <div class="main-content">
            <div class="header">
                <h1>ADMIN PAGE</h1>
            </div>

            <div class="content-box-header">
                <h1>การจัดการ PDPA</h1>
            </div>

            <div class="content-box">
                <div class="box-x">

                    <div class="consent-container">

                        <nav>
                            <ul>
                                <li><a href="adminManagePDPA1.html">e-Consent</a></li>
                                <li><a href="adminManagePDPA2.html">Template & Purpose</a></li>
                                <li><a href="adminManagePDPA3.html">Policy</a></li>
                                <li><a href="adminManagePDPA4.html" class="active">DPIA</a></li>
                                <li><a href="adminManagePDPA5.html">Breach</a></li>
                            </ul>
                        </nav>

                        <div class="content-box">
                            <div class="text-2">
                                <p class="header-text">DPIA - แบบประเมินความเสี่ยง</p>
                                <p>เนื้อหาสำหรับ DPIA...</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="js/sidebarAdmin.js"></script>

</body>

</html>