<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Check</title>
    <link rel="stylesheet" href="css/loginForgetOTPcheck.css">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="otpCheckPage">

        <div class="otp-check-form">
            <div class="otp-check-header">
                <h1>ยืนยัน OTP</h1>
                <p>OTP จะถูกส่งไปที่ E-mail ของท่าน</p>
            </div>

            <form class="box-otp-input" action="" method="">
                <div class="otp-input">
                    <label for="otp">กรอก OTP</label>
                    <input type="text" id="otp" placeholder="กรุณาใส่รหัส OTP" required>
                </div>

                <div class="verify-button">
                    <button type="button" onclick="location.href='/view/loginForgetChangPass.html'">ต่อไป</button>
                </div>
            </form>
        </div>

    </div>

</html>