<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Complete</title>
    <link rel="stylesheet" href="css/loginForgetChangeComplete.css">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="changeCompletePage">

        <div class="change-complete-form">
            <div class="change-complete-header">
                <h1>เปลี่ยนรหัสผ่านเสร็จสิ้น</h1>
                <p>ระบบจะพาคุณกลับไปยังหน้าเข้าสู่ระบบใน 5 วินาที</p>
            </div>
            
            <div class="login-button">
                <button type="button" onclick="location.href='/view/loginMain.html'">กลับไปที่หน้าเข้าสู่ระบบ</button>
            </div>
        </div>

    </div>

</body>

</html>