<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link rel="stylesheet" href="css/loginForgetPass.css">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="forgetPasswordPage">

        <div class="forget-password-form">
            <div class="forget-password-header">
                <h1>ลืมรหัสผ่าน</h1>
                <p>กรอก E-mail เพื่อรับ OTP</p>
            </div>

            <form class="box-forget-email" action="" method="">
                <div class="forget-email">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" placeholder="กรุณาใส่อีเมลของคุณ" required>
                </div>
                <div class="continue-button">
                    <button type="button" onclick="location.href='/view/loginForgetOTPcheck.html'">ต่อไป</button>
                </div>
            </form>
        </div>

    </div>

</body>

</html>