<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicaltech 3A5</title>
    <link rel="stylesheet" href="css/medicaltechReport3A5.css">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet" />
</head>

<body>
    <div class="medicaltechReport3A5Page">
        <!-- Sidebar -->
        <div class="sidebarMedicaltech" id="sidebarMedicaltech"></div>

        <!-- Main Content -->
        <main class="main-content">
            <header class="header">
                <h1>ผู้ป่วย</h1>
                <div class="boxRight">
                    <div class="divider"></div>
                    <a href="#" class="icon-link">
                        <img src="img/User.png" alt="user" class="user-img">
                    </a>
                    <button class="newPatients">
                        เทคนิค นายหนึ่ง
                    </button>
                </div>
            </header>

            <div class="patientBig">
            <section class="patient-box">
                <div class="patient-form">
                    <div class="head-patient">
                        <a href="medicaltechReport.html">
                            <img src="img/Re.png" alt="re" class="re-img">
                        </a>
                        <div class="form-title">แก้ไขรายละเอียดผลตรวจ</div>
                    </div>

                    <div class="patient-form2">
                        <p class="order-id">หมายเลขใบสั่งตรวจ : TR0011</p>
                        <div class="form-grid">
                            <div class="column1">
                                <div class="form-group">
                                    <label>ชื่อ-นามสกุล (Name) :</label>
                                    <input type="text" id="patientName" class="input1" value="นายเทส ทดสอบ">
                                </div>
                                <div class="form-group">
                                    <label>รหัสการตรวจ :</label>
                                    <input type="text" id="testCode" class="input2" value="410028">
                                </div>
                                <div class="form-group">
                                    <label>ชื่อการตรวจ :</label>
                                    <input type="text" id="testName" class="input3"
                                        value="PGx for Acetaminophen (CYP2D6)">
                                </div>
                            </div>

                            <div class="column2">
                                <div class="form-group">
                                    <label>เลขประจำตัว (HN) :</label>
                                    <input type="text" id="hn" class="input6" value="HN00001">
                                </div>
                                <div class="form-group">
                                    <label>ชนิดของยาที่จะใช้ในการรักษา :</label>
                                    <input type="text" id="treatmentDrug" class="input4" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label>ยาที่ผู้ป่วยได้รับในปัจจุบัน :</label>
                                    <input type="text" id="currentMedications" class="input5" placeholder="">
                                </div>
                            </div>
                        </div>

                        <div class="genotype-section">
                            <div class="genotype-list1">
                                <div class="title-genotype">ยีนที่ตรวจ : </div>
                                <div class="title-genotype2">3A5 </div>
                            </div>

                            <div class="genotype-list">
                                <div class="title-genotype">Genotype :</div>
                                <div class="genotype-group">
                                    <div class="genotype-item">
                                        <span>CYP3A5*3
                                            (6986A>G)
                                        </span>
                                        <select>
                                            <option selected>Selected CYP3A5*3  </option>
                                            <option value="GG">G/G</option>
                                            <option value="GA">G/A</option>
                                            <option value="AA">A/A</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn-secondary">บันทึกผลการส่งตรวจ</button>
                        </div>
                    </div>

                </div>
            </section>
            </div>
        </main>
    </div>

    <script src="js/medicaltechGenotype.js"></script>
    <script src="js/sidebarMedicaltech.js"></script>

</body>

</html>