<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side Bar</title>
    <link rel="stylesheet" href="css/sidebarEmployee.css">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="sidebarEmployee">
        <h1>PGx System</h1>
        <ul>
            <li class="active"><a href="employeeDashboard.html">Dashboard</a></li>
            <li class="active"><a href="employeePatientA.html">หน้ารวมผู้ป่วย</a></li>
            <li class="active"><a href="employeeReport.html">รายงานผล</a></li>
            <li class="active"><a href="employeeQualityControl.html">ควบคุมคณภาพ</a></li>
            <li class="active"><a href="employeeReportAndStatistics.html">รายงานและสถิติ</a></li>
            <li class="logout selectMenu"><a href="loginMain.html">ออกจากระบบ</a></li>
        </ul>
    </div>

</body>

</html>