<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side Bar</title>
    <link rel="stylesheet" href="css/sidebarAdmin.css">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="sidebarAdmin">
        <h1>PGx System</h1>
        <ul>
            <li class="active"><a href="adminManageUser.html">การจัดการผู้ใช้งาน</a></li>
            <li class="active"><a href="adminManagePDPA1.html">การจัดการ PDPA</a></li>
            <li class="active"><a href="adminGeneralSetting.html">ตั้งค่าทั่วไป</a></li>
            <li class="active"><a href="adminLogUsage.html">Log การเข้าใช้งาน</a></li>
            <li class="active"><a href="#">การจัดการสิทธิ</a></li>
            <li class="logout selectMenu"><a href="loginMain.html">ออกจากระบบ</a></li>
        </ul>
    </div>

</body>

</html>